<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <script defer src="/js/admin.js"></script>
</head>
<body>
    
    <main>

        <div class="container">
            <div class="controlos">
                <div class="divcontrolo">
                    <button class="btn1" onclick="alterarCor(0)">
                        Dashboard
                    </button>
                    <button class="btn1" onclick="alterarCor(1)">
                        Carros
                    </button>
                    <button class="btn1" onclick="alterarCor(2)">
                        Funcionários
                    </button>
                    <button class="btn1" onclick="alterarCor(3)">
                        Casas
                    </button>
                    
                    <button class="btn1" onclick="alterarCor(4)">
                        Hoteis
                    </button>                    
                    <button class="btn1" onclick="alterarCor(5)">
                        Usuarios
                   </button>              
                   <button class="btn1" onclick="alterarCor(6)">
                        Arrendamentos
                   </button>             
                   <button class="btn1" onclick="alterarCor(7)">
                     Agendamentos
                   </button>
                                
                   <button class="btn1" onclick="alterarCor(8)">
                    Hoteis Alugados
                  </button>
                               
                  <button class="btn1" onclick="alterarCor(9)">
                    Carros Alugados
                  </button>
                </div>
                
            </div>
            <div class="aplicacao">
                <div class="content">
                    <div class="painel">
                        <div class="position">
                            <div class="info">
                                <p>Número de Usuários</p>
                                <p> <%- lista[0][0].total %></p>
                            </div>
                            <div class="info">
                                <p>Número de Carros Alugados</p> 
                                <p> <%- lista[1][0].total %> </p>
                            </div>
                            <div class="info">
                                <p>Número de Carros</p>
                                <p> <%- lista[2][0].total %></p>
                            </div>
                        </div>
                        <div class="position">
                            <div class="info">
                                <p>Número de Funcionários</p>
                                <p> <%- lista[3][0].total %></p>
                            </div>
                            <div class="info">
                                <p>Número de Hotéis</p>
                                <p> <%- lista[4][0].total %></p>
                            </div>
                            <div class="info">
                                
                                <p>Número de Reserva em Hotéis</p>
                                <p> <%- lista[5][0].total %></p>
                            </div>
                            <div class="info">
                                <p>Número de Empresas Associadas</p>
                                <p> <%- lista[6][0].total %></p>
                            </div>
                        </div>
                        <div class="position">
                            <div class="info">
                                <p>Número de Casas Alugadas</p>
                                <p> <%- lista[7][0].total %></p>
                            </div>
                        
                            <div class="info">
                                
                                <p>Número de Casas</p>
                                <p><%- lista[8][0].total %> </p>
                            </div>
                            <div class="info">
                                
                                <p>Número de Voos marcados</p>
                                <p> <%- lista[9][0].total %></p>
                            </div>
                           
                        </div>
                    </div>
                    <div class="painel">
                        <% if(carro == 0 || carro == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Carros registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Numero do Carro</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th> Matricula</th>
                                    <th> Tipo</th>
                                    <th>Estado</th>
                                    <th>Valor</th>
                                    
                                </thead>
                                <tbody>
                                    <% carro.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.id %></td>
                                            <td><%- dado.marca %> </td>
                                            <td><%-dado.modelo %></td>
                                            <td><%-dado.matricula %></td>
                                            <td><%-dado.estado %></td>
                                            <td><%-dado.tipo %></td>
                                            <td><%-dado.valor %></td>
                                            <td>
                                                <div class="containerOptions">
                                                    <form class="otherforms" action="/deletarcarro/<%- dado.id %>" method="post">
                                                        <button>Deletar</button>
                                                    </form>
                                                </div>                
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>      
                            </table>  
                        <%};%>
                        <div class="containerOptions">                     
                            <div class="otherforms">
                                <button class="buttonActualizars btnupdate1" type="submit">Editar</button>
                            </div>
                            <div class="otherforms">
                                <button class="buttonActualizars btnadd1" type="submit">Adicionar</button>
                            </div>
                        </div>
                        <form action="/adicionarcarro" method="post" class="formularios formadd1">
                            
                            <div class="inputs">
                                <input  type="text" required name="marca">
                                <label for="">Marca</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="modelo">
                                <label for="">Modelo</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="matricula">
                                <label for="">Matricula</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="tipo">
                                <label for="">Tipo</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="estado">
                                <label for="">Estado</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" min="1" required name="valor">
                                <label for="">Valor</label>
                            </div>
                            <input type="submit" value="Adicionar">             
                        </form>
                        <form action="/actualizarcarro" method="post" class="formularios form1">
                            <div class="inputs">
                                <input  type="text" min="1" required name="id">
                                <label for="">Numero do carro</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="marca">
                                <label for="">Marca</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="modelo">
                                <label for="">Modelo</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="matricula">
                                <label for="">Matricula</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="tipo">
                                <label for="">Tipo</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="estado">
                                <label for="">Estado</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" min="1" required name="valor">
                                <label for="">Valor</label>
                            </div>
                            <input type="submit" value="Actualizar">             
                        </form>
                    </div>        
                    <div class="painel">
                        <% if(funcionario == 0 || funcionario == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Funcionários registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Numero do Funcionários</th>
                                    <th>Nome</th>
                                    <th>BI</th>
                                    <th> Data de Nascimento</th>
                                    <th> Formação</th>
                                    <th>Anos de Trabalho</th>
                                    <th>Competências</th>
                                    
                                </thead>
                                <tbody>
                                    <% funcionario.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.id %></td>
                                            <td><%- dado.nome %></td>
                                            <td><%-dado.bi %></td>
                                            <td><%-dado.datanascimento %></td>
                                            <td><%-dado.formacao %></td>
                                            <td><%-dado.anosDeTrabalho %></td>
                                            <td><%-dado.competencias %></td>
                                            <td>
                                                <div class="containerOptions">
                                                    <form class="otherforms" action="/deletarfuncionario/<%- dado.id %>" method="post">
                                                        <button>Deletar</button>
                                                    </form>
                                                </div>                
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                              
                        <%};%>
                        <div class="containerOptions">                     
                            <div class="otherforms">
                                <button class="buttonActualizars btnupdate2" type="submit">Editar</button>
                            </div>
                            <div class="otherforms">
                                <button class="buttonActualizars btnadd2" type="submit">Adicionar</button>
                            </div>
                        </div>
                        <form action="/adicionarfuncionario" method="post" class="formularios formadd2">
                            
                            <div class="inputs">
                                <input  type="text" required name="nome">
                                <label for="">Nome</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="bi">
                                <label for="">BI</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="date" min="1950-12-31"  max="2024-05-30" required name="datanascimento">
                                <label for="">Data de Nascimento</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="formacao">
                                <label for="">Formação</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" min="0" required name="workyears">
                                <label for="">Anos de Trabalho</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="skills">
                                <label for="">Competências</label>
                            </div>
                            <input type="submit" value="Adicionar">             
                        </form>
                        <form action="/actualizarfuncionario" method="post" class="formularios form2">
                            <div class="inputs">
                                <input  type="text" min="1" required name="id">
                                <label for="">Numero do Funcionários</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="nome">
                                <label for="">Nome</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="bi">
                                <label for="">BI</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="date" min="1950-12-31" max="2024-05-30" required name="datanascimento">
                                <label for="">Data de Nascimento</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="formacao">
                                <label for="">Formação</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" min="0" required name="workyears">
                                <label for="">Anos de Trabalho</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="skills">
                                <label for="">Competências</label>
                            </div>
                            <input type="submit" value="Actualizar">             
                        </form>
                    </div>
                    <div class="painel">
                        <% if(casa == 0 || casa == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Casas registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Numero da Casa</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Preço em Euros</th>
                                </thead>
                                <tbody>
                                    <% casa.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.id %></td>
                                            <td><%- dado.pais %></td>
                                            <td><%-dado.cidade %></td>
                                            <td><%-dado.estado %></td>
                                            <td><%-dado.preco %></td>
                                            <td>
                                                <div class="containerOptions">
                                                    <form class="otherforms" action="/deletarcasa/<%- dado.id %>" method="post">
                                                        <button>Deletar</button>
                                                    </form>
                                                </div>                
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                        <div class="containerOptions">                     
                            <div class="otherforms">
                                <button class="buttonActualizars btnupdate3" type="submit">Editar</button>
                            </div>
                            <div class="otherforms">
                                <button class="buttonActualizars btnadd3" type="submit">Adicionar</button>
                            </div>
                        </div>
                        <form action="/adicionarcasa" method="post" class="formularios formadd3" style="min-height: 50px;">
                            
                            <div class="inputs">
                                <input  type="text" required name="pais">
                                <label for="">País</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="cidade">
                                <label for="">Cidade</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="number" min="1" required name="preco">
                                <label for="">Preco em Euros</label>
                            </div>
                            <input type="submit" value="Adicionar">             
                        </form>
                        <form action="/actualizarcasa" method="post" class="formularios form3" style="min-height: 70px;">
                            <div class="inputs">
                                <input  type="text" min="1" required name="id">
                                <label for="">Numero da Casa</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="pais">
                                <label for="">País</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="cidade">
                                <label for="">Cidade</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="number" min="1" required name="preco">
                                <label for="">Preco em Euros</label>
                            </div>
                            <input type="submit" value="Actualizar">             
                        </form>
                    </div>
                    <div class="painel">
                        <% if(hotel == 0 || hotel == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Hoteis registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Numero do Hotel</th>
                                    <th>Nome</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>num_quartos</th>
                                    <th>Preço em Euros</th>
                                </thead>
                                <tbody>
                                    <% hotel.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.id %></td>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.pais %></td>
                                            <td><%-dado.cidade %></td>
                                            <td><%-dado.num_quartos %></td>
                                            <td><%-dado.preco %></td>
                                            <td>
                                                <div class="containerOptions">
                                                    <form class="otherforms" action="/deletarhotel/<%- dado.id %>" method="post">
                                                        <button>Deletar</button>
                                                    </form>
                                                </div>                
                                            </td>
                                        </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                        <div class="containerOptions">                     
                            <div class="otherforms">
                                <button class="buttonActualizars btnupdate4" type="submit">Editar</button>
                            </div>
                            <div class="otherforms">
                                <button class="buttonActualizars btnadd4" type="submit">Adicionar</button>
                            </div>
                        </div>
                        <form action="/adicionarhotel" method="post" class="formularios formadd4" style="min-height: 70px;">
                            <div class="inputs">
                                <input  type="text" required name="nome">
                                <label for="">Nome</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="pais">
                                <label for="">País</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="cidade">
                                <label for="">Cidade</label>
                            </div>
                            <div class="inputs">
                                <input  type="number" min="1" required name="num_quartos">
                                <label for="">Número de Quartos</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="number"  min="1" required name="preco">
                                <label for="">Preco em Euros</label>
                            </div>
                            <input type="submit" value="Adicionar">             
                        </form>
                        <form action="/actualizarhotel" method="post" class="formularios form4" style="min-height: 85px;">
                            <div class="inputs">
                                <input  type="text" min="1" required name="id">
                                <label for="">Numero do Hotel</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="nome">
                                <label for="">Nome</label>
                            </div>
                            <div class="inputs">
                                <input  type="text" required name="pais">
                                <label for="">País</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="text" required name="cidade">
                                <label for="">Cidade</label>
                            </div>
                            <div class="inputs">
                                <input  type="number" min="1" required name="num_quartos">
                                <label for="">Número de Quartos</label>
                            </div>
                            
                            <div class="inputs">
                                <input  type="number" min="1" required name="preco">
                                <label for="">Preco em Euros</label>
                            </div>
                            <input type="submit" value="Actualizar">             
                        </form>
                    </div>
                    <div class="painel">
                        <% if(user == 0 || user == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Usuários registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Numero do usuário</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    
                                </thead>
                                <tbody>
                                    <% user.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.id %></td>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.email %></td>
                                      </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                    </div>
                    <div class="painel">
                        <% if(arrendamentos == 0 || arrendamentos == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Arrendamentos registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Nome do Usuário</th>
                                    <th>Email</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Preco do Aluguer</th>
                                    <th>Data de Reserva</th>
                                    <th>Número de Dias</th>
                                </thead>
                                <tbody>
                                    <% arrendamentos.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.email %></td>
                                            <td><%- dado.pais %></td>
                                            <td><%- dado.cidade %></td>
                                            <td><%- dado.preco %></td>
                                            <td><%- dado.datareserva %></td>
                                            <td><%- dado.dias %></td>
                                      </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                    </div>
                    <div class="painel">
                        <% if(voos == 0 || voos == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Agendamentos registrados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Nome do Usuário</th>
                                    <th>Email</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Classe</th>
                                    <th>Data da viagem</th>
                                    <th>Tipo de Bilhete</th>
                                </thead>
                                <tbody>
                                    <% voos.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.email %></td>
                                            <td><%- dado.pais %></td>
                                            <td><%- dado.cidade %></td>
                                            <td><%- dado.classe %></td>
                                            <td><%- dado.data %></td>
                                            <td><%- dado.tipoBilhete %></td>
                                      </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                    </div>
                    <div class="painel">
                        <% if(aluguerhoteis == 0 || aluguerhoteis == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Hotéis Alugados! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Nome do Usuário</th>
                                    <th>Email</th>
                                    <th>País</th>
                                    <th>Cidade</th>
                                    <th>Hotel</th>
                                    <th>Dias de Hospedagem</th>
                                    <th>Preço</th>
                                </thead>
                                <tbody>
                                    <% aluguerhoteis.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.email %></td>
                                            <td><%- dado.pais %></td>
                                            <td><%- dado.cidade %></td>
                                            <td><%- dado.hotel %></td>
                                            <td><%- dado.dias %></td>
                                            <td><%- dado.preco %></td>
                                      </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                    </div> 
                    <div class="painel">
                        <%if(aluguercarros == 0 || aluguercarros == null ){ %>
                            <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Carros Alugados ! </p>
                        <%}else{ %>
                            <table>
                                <thead>
                                    <th>Nome do Usuário</th>
                                    <th>Email</th>
                                    <th>Marca do Carro</th>
                                    <th>Modelo do Carro</th>
                                    <th>Valor do Aluguer</th>
                                    <th>Tipo</th>
                                    <th>Local de Entrega</th>
                                    <th>Local de Devolução</th>
                                </thead>
                                <tbody>
                                    <% aluguercarros.forEach(function(dado){ %>
                                      <tr>
                                            <td><%- dado.nome %></td>
                                            <td><%- dado.email %></td>
                                            <td><%- dado.marca %></td>
                                            <td><%- dado.modelo %></td>
                                            <td><%- dado.valor %></td>
                                            <td><%- dado.tipo %></td>
                                            <td><%- dado.entrega %></td>
                                            <td><%- dado.devolucao %></td>
                                      </tr>
                                        <%});%>
                                </tbody>      
                            </table>
                        <%};%>
                    </div>
                </div>
            </div>
        </div>
    </main>   
    
</body>
</html>