<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do usuário</title>
    <link rel="stylesheet" href="/css/logado.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <script defer src="/js/logado.js"></script>
</head>
<body>
    <header>
        <nav class="header">
            <div class="logo">
                <img src="/img/logos/logo (1).png" alt=""><span>ADVI</span>
            </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/marcacoes">Voos</a></li>
                <li><a href="/hotel" >Hoteis</a></li>
                <li><a href="/carros">Carros</a></li>
                <li><a href="/casas">Casas</a></li>
                <li><a href="#sobre_nos">Sobre Nós</a></li>
            </ul>
        </nav>
       
    </header>
    <div class="container">
        <div class="controlos">
            <div class="divcontrolo">
                <button class="btn1" onclick="alterarCor(0)">
                    Usuários
                </button>
                <button class="btn1" onclick="alterarCor(1)">
                    Viagens
                </button>
                <button class="btn1" onclick="alterarCor(2)">
                    Hoteis
                </button>
                
                <button class="btn1" onclick="alterarCor(3)">
                    Carros
                </button>
                
                <button class="btn1" onclick="alterarCor(4)">
                    Casas 
               </button>
            </div>
            
        </div>
        <div class="aplicacao">
            <div class="content">
                <div class="painel">
                    <div class="dados_usuario">
                        <% usuario.forEach(function(dado){ %>
                            <p> Nome : <%- dado.nome %></p>
                            <p> Senha : <%- dado.senha %></p>
                            <p> Email : <%- dado.email %></p>
                        <%});%>
                    </div>
                    <div class="opcaoUsuario">
                        <form class="forms" action="/deletarusuarios" method="post">
                            <button>Deletar Conta</button>
                        </form>
                        <div class="forms">
                            <button class="buttonActualizar" type="submit">Actualizar Dados</button>
                        </div>
                    </div>        

                    <form action="/actualizarusuarios" method="post" class="formulario">
                        <div class="inputs">
                            <input type="text" required name="nome">
                            <label for="">Nome de Usuario</label>
                         </div>
                         <div class="inputs">
                            <input type="email" required name="email">
                            <label for="">Email</label>
                         </div>
                        
                         <div class="inputs">
                            <input  type="password" required name="senha">
                            <label for="">Senha</label>
                         </div>
                        <input type="submit" value="Actualizar">             
                    </form>
                </div>
                <div class="painel">
                    <% if(viagens == 0 || viagens == null ){ %>
                        <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Agendamentos Marcados ! </p>
                    <%}else{ %>
                        <table>
                            <thead>
                                <th>Numero do Voo</th>
                                <th>Tipo de Bilhete</th>
                                <th> Numero de Pessoas</th>
                                <th> Classe</th>
                                <th> Data</th>
                                <th> País</th>
                                <th> Cidade</th>
                            </thead>
                            <tbody>
                                <% viagens.forEach(function(dado){ %>
                                  <tr>
                                    
                                        <td><%- dado.id %></td>
                                        <td><%- dado.tipoBilhete %></td>
                                        <td><%-dado.num_pessoas %></td>
                                        <td><%-dado.classe %></td>
                                        <td><%-dado.data %></td>
                                        <td><%-dado.pais %></td>
                                        <td><%-dado.cidade %></td>
                                        <td>
                                            <div class="containerOptions">
                          
                                                <form class="otherforms" action="/deletarviagens/<%- dado.id %>" method="post">
                                                    <button>Deletar</button>
                                                </form>
                                            </div>                
                                        </td>

                                    </tr>
                                    <%});%>
                            </tbody>      
                        </table>    
                    <%};%>
                    <div class="containerOptions">                     
                        <div class="otherforms">
                            <button class="buttonActualizars" type="submit">Editar</button>
                        </div>
                    </div>
                    <form action="/actualizarviagens" method="post" class="formularios">
                        <div class="inputs">
                            <input type="text" min="1" required name="id">
                            <label for="">Numero do voo</label>
                        </div>
                        <div class="inputs">
                            <input type="text" required name="tipoBilhete">
                            <label for="">Tipo de Bilhete</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" min="1" required name="num_pessoas">
                            <label for="">Numero de Pessoas</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" required name="classe">
                            <label for="">Classe</label>
                        </div>
                        
                        <div class="inputs">
                            <input min="2024-05-30"  max="2099-12-31" type="date" required name="data">
                            <label for="">Data</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" required name="pais">
                            <label for="">País</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" required name="cidade">
                            <label for="">Cidade</label>
                        </div>
                        <input type="submit" value="Actualizar">             
                    </form>
                
         
                </div>
                <div class="painel">
                    <% if(aluguerhotel == 0 || aluguerhotel == null ){ %>
                        <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Hoteis Marcados ! </p>
                    <%}else{ %>
                        <table>
                            <thead>
                                <th>Numero do Aluguer</th>
                                <th>Hotel</th>
                                <th>Cidade</th>
                                <th> País</th>
                                <th> Numero de Dias</th>
                                <th> Preco</th>
                                
                            </thead>
                            <tbody>
                                <% aluguerhotel.forEach(function(dado){ %>
                                  <tr>
                                    
                                        <td><%- dado.id %></td>
                                        <td><%- dado.hotel %></td>
                                        <td><%-dado.cidade %></td>
                                        <td><%-dado.pais %></td>
                                        <td><%-dado.dias %></td>
                                        <td><%-dado.preco %></td>
                                        <td>
                                            <div class="containerOptions">
                                                <form class="otherforms" action="/deletaraluguerhotel/<%- dado.id %>" method="post">
                                                    <button>Deletar</button>
                                                </form>
                                            </div>                
                                        </td>
                                    </tr>
                                    <%});%>
                            </tbody>      
                        </table>                      
                    <%};%>
                    <div class="containerOptions">                     
                        <div class="otherforms">
                            <button class="buttonActualizars btnupdate1" type="submit">Editar</button>
                        </div>
                    </div>
                    <form action="/actualizaraluguerhotel" method="post" class="formularios form1">
                        <div class="inputs">
                            <input type="text" required name="id" min="1">
                            <label for="">Numero do Aluguer</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" required name="num_dias" min="1">
                            <label for="">Numero de Dias</label>
                        </div>
                        <input type="submit" value="Actualizar">             
                    </form>
                    
                </div>
                <div class="painel">
                    <% if(carro == 0 || carro == null ){ %>
                        <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem carros Marcados ! </p>
                    <%}else{ %>
                        <table>
                            <thead>
                                <th>Numero do Aluguer</th>
                                <th>Local de Devolução</th>
                                <th>Local de Entrega</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Preço</th>
                                
                            </thead>
                            <tbody>
                                <% carro.forEach(function(dado){ %>
                                  <tr>
                                    
                                        <td><%- dado.id %></td>
                                        <td><%- dado.devolucao %></td>
                                        <td><%-dado.entrega%></td>
                                        <td><%-dado.modelo %></td>
                                        <td><%-dado.marca %></td>
                                        <td><%-dado.preco %></td>
                                        <td>
                                            <div class="containerOptions">
                                                <form class="otherforms" action="/deletaraluguercarro/<%- dado.id %>" method="post">
                                                    <button>Deletar</button>
                                                </form>
                                            </div>                
                                        </td>
                                    </tr>
                                    <%});%>
                            </tbody>      
                        </table>                     
                    <%};%>
                    <div class="containerOptions">                          
                        <div class="otherforms">
                            <button class="buttonActualizars" id="btnupdate2" type="submit">Editar</button>
                        </div>
                    </div>
                    <form action="/actualizaraluguercarro" method="post" class="formularios form2">
                        <div class="inputs">
                            <input type="text" required name="id" min="1">
                            <label for="">Numero do Aluguer</label>
                        </div>
                        
                        <div class="inputs">
                            <input  type="text" required name="localEntrega">
                            <label for="">Local De Entrega</label>
                        </div>
                        <div class="inputs">
                            <input  type="text" required name="localDevolucao">
                            <label for="">Local De Devolucao</label>
                        </div>
                        <input type="submit" value="Actualizar">             
                    </form>
           
                </div>
                <div class="painel">
                    <% if(casa == 0 || casa == 0 ){ %>
                        <p style="font-size: 2rem;color: black;font-weight: 600;text-align: center;padding: 20px 5px;"> Sem Casas Alugadas ! </p>
                    <%}else{ %>
                        <table>
                            <thead>
                                <th>Numero do Aluguer</th>
                                <th>Cidade</th>
                                <th>País</th>
                                <th>Preço</th>
                                <th>Número de Dias</th>
                                <th>Data da reserva</th>
                                
                            </thead>
                            <tbody>
                                <% casa.forEach(function(dado){ %>
                                  <tr>
                                    
                                        <td><%- dado.id %></td>
                                        <td><%- dado.cidade %></td>
                                        <td><%-dado.pais %></td>
                                        <td><%-dado.preco %></td>
                                        <td><%-dado.dias %></td>
                                        <td><%-dado.dataReserva %></td>
                                        <td>
                                            <div class="containerOptions">
                                                <form class="otherforms" action="/deletaraluguercasa/<%- dado.id %>" method="post">
                                                    <button>Deletar</button>
                                                </form>
                                            </div> 
               
                                        </td>
                                    </tr>
                                    <%});%>
                            </tbody>      
                        </table>
                    <%};%>
                                                                
                    <div class="containerOptions">                     
                        <div class="otherforms">
                            <button onclick="mostraForm()" class="btnupdatecasa" type="submit">Editar</button>
                        </div>
                    </div>
                    <form action="/actualizaraluguercasa" method="post" class="formcasa">
                        <div class="inputs">
                            <input  type="number" min="1" required name="id">
                            <label for="">Número do Aluguer </label>
                        </div>
                        <div class="inputs">
                            <input  type="number" min="1" required name="num_dias">
                            <label for="">Número de Dias</label>
                        </div>
                        <div class="inputs">
                            <input  type="date" min="2024-05-30"  max="2099-12-31" required name="data_reserva">
                            <label for="">Data da reserva</label>
                        </div>
                        <input type="submit" value="Actualizar">             
                    </form>
                </div>
    
            </div>
        </div>
    </div>
    
</body>
</html>